<!--<div class="modal fade" tabindex="-1" id="planViewModal" aria-hidden="true">-->
<!--    <div class="modal-dialog modal-dialog-centered">-->
<!--        <div class="modal-content">-->
<!--            <div class="modal-header">-->
<!--                <h5 class="modal-title">상세보기</h5>-->
<!--                <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--&lt;!&ndash;                    <span aria-hidden="true">&times;</span>&ndash;&gt;-->
<!--                </button>-->
<!--            </div>-->
<!--            <div class="modal-body" id="planViewModalBody" >-->
<!--&lt;!&ndash;                <input type="hidden" id="eventId">&ndash;&gt;-->
<!--                <div class="mb-3" id="planViewTitle">-->
<!--                </div>-->
<!--                <div class="mb-3" id="planViewContext">-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="modal-footer">-->
<!--                <button type="button" class="btn btn-secondary" onclick="deleteEvent()" >삭제</button>-->
<!--&lt;!&ndash;                <button type="button" class="btn btn-secondary" data-target="#updateModal" data-toggle="modal" id="updateButton" data-id="asd">수정</button>&ndash;&gt;-->
<!--                <button type="button" class="btn btn-primary" >확인</button>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--<script>-->
<!--    // function planViewModelPopUp(){-->
<!--    //     // 팝업 호출-->
<!--    //     $("#planViewModal > .modal-dialog").ready(function() {-->
<!--    //         $("#planViewModal").modal();-->
<!--    //         viewPlanData(sessionId);-->
<!--    //     });-->
<!--    // }-->

<!--    $(document).ready(function () {-->
<!--        viewPlanData(sessionId);-->
<!--    });-->

<!--</script>-->