<div class="modal fade" tabindex="-1" id="viewModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="viewTitle">상세보기</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
<!--                <input type="hidden" th:value="${session.sessionId}" id="userId">-->
<!--                <input type="hidden" th:value=true id="allDay">-->
                <div class="modal-body" id="viewModalBody">
                    <input type="hidden" id="eventId">
<!--                    <div class="mb-3" id="viewTitle">-->
<!--                        <label for="viewTitle" class="col-form-label">제목</label>-->
<!--                        <input type="text" class="form-control" id="viewTitle">-->

<!--                    </div>-->
                    <div class="mb-3" id="viewContext">
<!--                        <label for="viewContext" class="col-form-label">내용</label>-->
<!--                        <textarea class="form-control" id="viewContext"></textarea>-->
                    </div>
                    <div>
                        <img id="viewFile">
                    </div>

                </div>
                <div class="modal-footer">
<!--                    글자색 <label for='viewTextColor'></label><input id='viewTextColor'/>-->
<!--                    배경색 <label for='viewBackgroundColor'></label><input id='viewBackgroundColor'/>-->
                    <div id="uploadDate"></div>

                    <button type="button" class="btn btn-secondary" onclick="deleteEvent()" >삭제</button>
                    <button type="button" class="btn btn-secondary" data-target="#updateModal" data-toggle="modal" id="updateButton" data-id="asd">수정</button>
                    <button type="button" class="btn btn-primary" id="submitButton">확인</button>
                </div>
        </div>
    </div>
</div>
<style>
    #viewModalBody{
        /*width:400px;*/
    }

    #viewModalBody #viewFile{
        display:block;
        width:100%;
        height:auto;
        text-align: center;
    }
</style>
<script>
    var eventId;

    function viewModelPopUp(info){
        // 팝업 호출
        $("#viewModal > .modal-dialog").ready(function() {
            $("#viewModal").modal();
            eventId = info.event.valueOf().id;
            detailViewData(eventId);
            console.log(info);
            console.log(info.event.valueOf().timeZoneName);
        });
    }
    $(document).ready(function() {
        $('#updateModal').on('show.bs.modal', function() {
            $("#viewModal").modal("hide");
            var seq = eventId;
            console.log(seq);
            updateDetailViewData(eventId);
        });
    });

    // function reloadUpdateModal() {
    //     $("#viewModal").location.href = "main_update_modal";
    //     document.querySelector('#viewModal').
    //
    // }
</script>