<div class="modal fade" tabindex="-1" id="viewModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="viewTitle">상세보기</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
                <div class="modal-body" id="viewModalBody">
                    <input type="hidden" id="eventId">
                    <div class="mb-3" id="viewContext">
                    </div>
                    <div>
                        <img id="viewFile">
                    </div>

                </div>
                <div class="modal-footer">
                    <div id="uploadDate"></div>

                    <button type="button" class="btn btn-secondary" onclick="deleteEvent()" >삭제</button>
                    <button type="button" class="btn btn-secondary" data-target="#updateModal" data-toggle="modal" id="updateButton" data-id="asd">수정</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">확인</button>
                </div>
        </div>
    </div>
</div>
<style>
    #viewModalBody #viewFile{
        display:block;
        width:100%;
        height:auto;
        text-align: center;
    }
</style>
<script>
    var eventId;

    function viewModelPopUp(info){
        // 팝업 호출
        $("#viewModal > .modal-dialog").ready(function() {
            $("#viewModal").modal();
            eventId = info.event.valueOf().id;
            detailViewData(eventId);
            console.log(info);
            console.log(info.event.valueOf().timeZoneName);
        });
    }
    $(document).ready(function() {
        $('#updateModal').on('show.bs.modal', function() {
            $("#viewModal").modal("hide");

            let seq = updateDetailViewData(eventId);

            $("#updateTextColor").spectrum({
                type: "color",
                color: seq.textColor,
                showPalette: false,
                showPaletteOnly: true,
                hideAfterPaletteSelect: true,
                showButtons: false,
                allowEmpty: false
            });

            $("#updateBackgroundColor").spectrum({
                type: "color",
                color: seq.backgroundColor,
                showPalette: false,
                showPaletteOnly: true,
                hideAfterPaletteSelect: true,
                showButtons: false,
                allowEmpty: false
            });
        });
    });
</script>