<div class="modal fade" tabindex="-1" aria-hidden="true" id="insertModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">추가하기</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="uploadForm" name="uploadForm">
                <input type="hidden" th:value="${session.sessionId}" id="userId">
                <input type="hidden" th:value=true id="allDay">

                <div class="modal-body">

                    <div class="mb-3">
                        <label for="title" class="col-form-label">제목</label>
                        <input type="text" class="form-control" id="title">

                    </div>
                    <div class="mb-3">
                        <label for="context" class="col-form-label">내용</label>
                        <textarea class="form-control" id="context"></textarea>
                    </div>

                </div>
                <div class="modal-footer">
                    <input type="file" id="file" name="file" style="display: none">
                    <button type="button" id="fileUpload">파일 선택</button>
                    글자색 <label for='textColor'></label><input id='textColor'/>
                    배경색 <label for='backgroundColor'></label><input id='backgroundColor'/>

                    <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                    <button type="button" class="btn btn-primary" onclick="eventSave(); " id="submitButton">저장</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $(function () {
        $('#fileUpload').click(function (e) {
            e.preventDefault();
            $('#file').click();
        });
    });
    function changeValue(obj){
        alert(obj.value);
    }
</script>

<style>
    #fileUpload {
        float: left;
    }
</style>