<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!--    bootstrap 설정-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

    <!-- 화면 해상도에 따라 글자 크기 대응(모바일 대응) -->
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <!-- jquery CDN -->
    <!-- fullcalendar CDN -->
    <link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.css' rel='stylesheet'/>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.js'></script>
    <!-- fullcalendar 언어 CDN -->
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/locales-all.min.js'></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Stylish&display=swap" rel="stylesheet">

    <!-- 색상 선택 JS -->
    <script src="https://cdn.jsdelivr.net/npm/spectrum-colorpicker2/dist/spectrum.min.js"></script>
    <link rel="stylesheet" type="text/css"
          href="https://cdn.jsdelivr.net/npm/spectrum-colorpicker2/dist/spectrum.min.css">
    <script src="" th:src="@{js/eventAjax.js?ver=}+${#dates.format(#dates.createNow(), 'yyyyMMddHHmm')}" id="eventJs"></script>
    <script src="" th:src="@{js/userAjax.js?ver=}+${#dates.format(#dates.createNow(), 'yyyyMMddHHmm')}"></script>

    </script>
    <style>
        /* body 스타일 */
        @font-face {
            font-family: 'LeferiPoint-BlackA';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-BlackA.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }

        html, body {
            link: black;
            overflow: hidden;
            /*font-family: Arial, Helvetica Neue, Helvetica, sans-serif;*/
            /*font-family: 'Stylish', sans-serif;*/
            font-family: 'LeferiPoint-BlackA';
            font-size: 14px;
            color: black;

        }

        /* 캘린더 위의 해더 스타일(날짜가 있는 부분) */
        .fc-header-toolbar {
            padding-top: 1em;
            padding-left: 1em;
            padding-right: 1em;
        }

        a {
            color: black;
        }
        .fc-toolbar-chunk {
            display: flex;

        }
        /*.fc-toolbar-title {*/
        /*    */
        /*}*/
        #fc-dom-1 {
            position: relative;
            font-size: 30px;
            top: 7px;
        }
        body {
            padding-right: 30px;
        }
    </style>
</head>
<body style="padding:30px;">

<!-- calendar 태그 -->
<div id='calendar-container'>
    <div id='calendar'></div>
</div>

<!--Model-->
<!--<div class="modal fade" tabindex="-1" id="checkModal">-->
<!--    <div class="modal-dialog modal-dialog-centered">-->
<!--        <div class="modal-content">-->
<!--            <div class="modal-header">-->
<!--                <h5 class="modal-title">확인하기</h5>-->
<!--                <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                    <span aria-hidden="true">&times;</span>-->
<!--                </button>-->
<!--            </div>-->
<!--            <div class="modal-body">-->
<!--                <p>Modal body text goes here.</p>-->
<!--            </div>-->
<!--            <div class="modal-footer">-->
<!--                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
<!--                <button type="button" class="btn btn-primary">Save changes</button>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--Model-->
<!--<div class="modal fade" tabindex="-1" id="checkModal">-->
<!--    <div class="modal-dialog modal-dialog-centered">-->
<!--        <div class="modal-content">-->
<!--            <div class="modal-header">-->
<!--                <h5 class="modal-title">추가하기</h5>-->
<!--                <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                    <span aria-hidden="true">&times;</span>-->
<!--                </button>-->
<!--            </div>-->
<!--            <form>-->
<!--                <div class="modal-body">-->

<!--                    <div class="mb-3">-->
<!--                        <label for="title" class="col-form-label">제목</label>-->
<!--                        <input type="text" class="form-control" id="title1">-->

<!--                    </div>-->
<!--                    <div class="mb-3">-->
<!--                        <label for="context" class="col-form-label">내용</label>-->
<!--                        <textarea class="form-control" id="context1"></textarea>-->
<!--                    </div>-->

<!--                </div>-->
<!--                <div class="modal-footer">-->
<!--                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
<!--                    <button type="button" class="btn btn-primary" onclick="eventSave(); " >Save changes</button>-->
<!--                </div>-->
<!--            </form>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<th:block th:insert="main_view_modal"/>

<th:block th:insert="main_insert_modal"/>

<th:block th:insert="user/user_login_modal"/>

<script>
    var calendar;
    (function () {

        var sessionId = $('#userId').val();
        var loginText;
        if (sessionId === "") {
            loginText = "로그인";
        } else {
            loginText = "로그아웃";
        }
        console.log("아이디 = "+ sessionId);
        console.log($('#title').val());
        $(function () {
// calendar element 취득
//             var calendarEl = $('#calendar')[0];
            var calendarEl = document.getElementById('calendar');
// full-calendar 생성하기
            calendar = new FullCalendar.Calendar(calendarEl, {
                height: '700px', // calendar 높이 설정
                expandRows: true, // 화면에 맞게 높이 재설정
                slotMinTime: '00:00', // Day 캘린더에서 시작 시간
                slotMaxTime: '23:59', // Day 캘린더에서 종료 시간
                timeZone: 'Asia/Seoul',
                locales: 'ko',
// 해더에 표시할 툴바
                customButtons: {
                    myCustomButton: {
                        text: '추가하기',

                        click: function (arg1) {
                            $('#insertModal').modal();
                        }
                    },
                    loginButton: {
                        text: loginText,
                        click: function (arg) {
                            if (loginText === "로그인") {
                                $('#loginModal').modal();
                            } else {
                                logout();
                            }
                        }
                    }
                },
                headerToolbar: {
                    left: 'loginButton today',
                    center: 'prev title next',
                    right: 'myCustomButton dayGridMonth,timeGridWeek,listWeek'
                },

                initialView: 'dayGridMonth', // 초기 로드 될때 보이는 캘린더 화면(기본 설정: 달)
                // initialDate: '2021-07-15', // 초기 날짜 설정 (설정하지 않으면 오늘 날짜가 보인다.)
                navLinks: true, // 날짜를 선택하면 Day 캘린더나 Week 캘린더로 링크
                editable: false, // 수정 가능?
                // selectable: true, // 달력 일자 드래그 설정가능
                dragScroll: false,
                nowIndicator: true, // 현재 시간 마크
                dayMaxEvents: true, // 이벤트가 오버되면 높이 제한 (+ 몇 개식으로 표현)
                textColor: 'black',
                locale: 'ko', // 한국어 설정
                eventAdd: function (obj) { // 이벤트가 추가되면 발생하는 이벤트
                    console.log('바보');
                },
                eventChange: function (obj) { // 이벤트가 수정되면 발생하는 이벤트
                    console.log(obj);
                },
                // eventClick: function (info) {
                //     // $('#viewModal').modal();
                //     console.log(info.title);
                //     viewModelPopUp(info);
                // },
                dayClick: function (date, allDay, jsEvent, view) {
                    $('#calendar').fullCalendar('clientEvents', function (event) {
                        if (event.start <= date && event.end >= date) {
                            return true;
                        }
                        return false;
                    });
                },
                selectConstraint: {
                    start: '00:01',
                    end: '23:59',
                },
                eventRemove: function (obj) { // 이벤트가 삭제되면 발생하는 이벤트
                    console.log(obj);
                },
                select: function (arg) { // 캘린더에서 드래그로 이벤트를 생성할 수 있다.
                    var title = prompt('Event Title:');
                    if (title) {
                        var date = new Date();
                        console.log(date);
                        calendar.addEvent({
                            title: title,
                            startTime: arg.startTime,
                            start: date,
                            end: arg.end,
                            allDay: arg.allDay,
                            // url: 'www.naver.com'

                        })
                    }

                    // calendar.unselect();

                },
// 이벤트
//                 events: [
//                     {
//                         title: 'Test',
//                         start: '2022-02-16',
//                         id: '1',
//                         textColor: '#FFFF00',
//                         color: "#0000FF",
//                         backgroundColor: "#008000"
//                     }
//                 ],

                events: {
                    url: '/api/v1/event',
                    method: 'GET',
                    timeZone: 'Asia/Seoul',
                    extraParams: {
                        userId: sessionId,
                    },
                    failure: function () {
                        console.log("이벤트 실패")
                    },
                },
                eventClick: function (info) {
                    // $('#viewModal').modal();
                    viewModelPopUp(info);
                },








            });




            $('#submitButton').on('click', function(e){
                // We don't want this to act as a link so cancel the link action
                if (sessionId === "") {
                    alert("로그인 해주세요")
                    return;
                }
                e.preventDefault();
                console.log(e)
                doSubmit();
            });

            function doSubmit(){
                $("#insertModal").modal('hide');


                //현재 시간 설정 YY-MM-DD
                var date = new Date();
                var years = date.getFullYear();
                var year = String(years);
                var yy = year.substring(2, 4);
                var month = new String(date.getMonth() + 1);
                var day = new String(date.getDate());
                if (month.length == 1) {
                    month = "0" + month;
                }
                if (day.length == 1) {
                    day = "0" + day;
                }
                var yymmdd = year + "-" + month + "-" + day;
                console.log(yymmdd)
                console.log(date);
                calendar.addEvent({
                    title: $('#title').val(),
                    textColor: $('#textColor').val(),
                    backgroundColor: $('#backgroundColor').val(),
                    id: 'test',
                    start: yymmdd
                })


            }

// 캘린더 랜더링
            calendar.render();
        });
    })();

    $("#textColor").spectrum({
        type: "color",
        color: "white",
        showPalette: false,
        showPaletteOnly: true,
        hideAfterPaletteSelect: true,
        showButtons: false,
        allowEmpty: false
    });
    $("#backgroundColor").spectrum({
        type: "color",
        color: "#02343F",
        showPalette: false,
        showPaletteOnly: true,
        hideAfterPaletteSelect: true,
        showButtons: false,
        allowEmpty: false
    });
    $(document).ready(function(){

        var userData;
        if (!$("#userId").val()) {
            return;
        }

        var aaa = searchData();


        // console.log(aaa);
        // console.log(searchData().length);
        // calendar.addEvent({
        //     title: 'Test111',
        //     start: '2022-02-18',
        //     // end: arg.end,
        //     // allDay: arg.allDay,
        //     url: 'www.naver.com'
        //
        // })



        // for (let i = 0; i < aaa.length; i++) {
        //     console.log(aaa[i].createdDate);
        //     calendar.addEvent({
        //         title: aaa[i].title,
        //         id: aaa[i].id,
        //         textColor: aaa[i].textColor,
        //         start: formatDate(aaa[i].createDate),
        //         backgroundColor: aaa[i].backgroundColor
        //     })
        // }

    });
</script>

</body>
</html>