<div class="modal fade" tabindex="-1" id="updateModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">수정하기</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="updateForm" name="updateForm">
                <input type="hidden" th:value="${session.sessionId}" id="updateUserId">
                <div class="modal-body" id="updateModalBody">
                    <div class="mb-3">
                        <label for="updateTitle" class="col-form-label">제목</label>
                        <input type="text" class="form-control" id="updateTitle">
                    </div>
                    <div class="mb-3">
                        <label for="updateContext" class="col-form-label">내용</label>
                        <textarea class="form-control" id="updateContext"></textarea>
                    </div>
                    <div class="mt-4">
                        <div class="px-1">
                            <input id="updateFileName" value="파일선택" disabled="disabled" size="10">
                            <input type="file" id="updateFile" name="file" style="display: none">
                            <button type="button" id="updateFileUpload">파일 선택</button>

                            글자색 <label for='updateTextColor'></label><input id='updateTextColor'/>
                            배경색 <label for='updateBackgroundColor'></label><input id='updateBackgroundColor'/>
                        </div>
                        <div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" id="updateModalFooter">
                    <div>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                        <button type="button" class="btn btn-primary" onclick="updateEvent(eventId); "
                                id="updateButton">저장
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $(function () {
        $('#updateFileUpload').click(function (e) {
            e.preventDefault();
            $('#updateFile').click();
        });
    });
</script>

<style>
    .sp-replacer {
        margin-left: 5px;
        margin-right: 5px;
    }

    #updateFileUpload {
        margin-right: 18%;
    }
</style>