<div class="modal fade" tabindex="-1" aria-hidden="true" id="noticeModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">사용규칙</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
                <div class="modal-body">
                    <p>1. 로그인 후 이용가능합니다.</p>
                    <p>2. 등록시간은 00:00 ~ 23:59 입니다.</p>
                    <p>3. 매일 계획에 맞는 인증을 추가합니다.</p>
                    <p>4. 지나간 일자에는 추가가 불가능합니다..</p>
                </div>
                <div class="modal-footer">
                    <div>
<!--                        <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>-->
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">확인</button>
<!--                        <button type="button" class="btn btn-primary" onclick="eventSave(); " id="submitButton">저장-->
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>



